<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link href="/assets/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="/assets/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>知无不尽，博而求实</h1>


<section>
    <div class="controls w3l">
        <div class="cbcontrol" id="cbControlRight"></div>
        <div class="cbcontrol" id="cbControlLeft"></div>
        <div class="clear"></div>
    </div>
    <div class="stage">
        <div class="cbImage active signin agileits">
            <h3>登录</h3>
            <form action="/user/login" method="post">
                <input type="text" name="account" class="name" placeholder="账号" required>
                <input type="password" name="password" class="password" placeholder="密码" required>
                <input type="submit" value="登录">
                <ul class="bottom">
                    <li><a href="#" class="forgot">忘记密码?</a></li>
                </ul>
            </form>
        </div>
        <div class="cbImage agileinfo" id="register">
            <h3>注册</h3>
            <form action="/userRegister" method="post">
                <input type="text" class="name" name="account" placeholder="账号" required>
                <input type="text" class="name" name="email" placeholder="邮箱" required>
                <input type="password" class="password" name="password" placeholder="密码" required>
                <input type="password" class="password" name="repassword" placeholder="确认密码" required>
                <input type="submit" value="注册">
            </form>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="footer">
        <p>&copy; 2018 ZhiBo. All Rights Reserved | Design by ZhiBo.com</p>
    </div>
</section>
<script src="/assets/js/jquery-2.1.4.min.js"></script>
<script src="/assets/js/coverflow-slideshow.js"></script>
<div style="text-align:center;">
</div>
</body>
</html>