<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhibo.org.zhibo.mapper.VoteMapper">

    <resultMap id="voteResultMap" type="Vote">
        <id property="id" column="id"/>
        <result property="voteTime" column="vote_time"/>
        <result property="voter.id" column="voter_id"/>
        <result property="states" column="state"/>
        <result property="articleId" column="article_id"/>
    </resultMap>

    <update id="likeAndDislikeArticle" parameterType="Vote">
        update vote,article
        <trim prefix="set" suffixOverrides=",">
            <if test="voteTime != null and voteTime != ''">vote.vote_time=#{voteTime},</if>
            <if test="states == -1">vote.state=#{states},article.dislikes=article.dislikes+1,article.likes=article.likes-1,</if>
            <if test="states == 1">vote.state=#{states},article.likes=article.likes+1,article.dislikes=article.dislikes-1,</if>
        </trim>
        where vote.id=#{id} and vote.article_id = article.id
    </update>

    <insert id="firstAppraisalArticle" parameterType="Vote">
        insert into vote(id,vote_time,voter_id,state,article_id) values (#{id},#{voteTime},#{voter.id},#{states},#{articleId})
    </insert>

    <select id="findVoteByUserId" parameterType="Vote" resultType="Vote" resultMap="voteResultMap">
        select * from vote where voter_id=#{voter.id}
    </select>

    <update id="cancleVote" parameterType="Vote">
        update vote set state=#{states} where id=#{id}
    </update>

    <update id="changToLikesOrDisLikes" parameterType="Vote">
        update vote,article
        <trim prefix="set" suffixOverrides=",">
            <if test="voteTime != null and voteTime != ''">vote.vote_time=#{voteTime},</if>
            <if test="states == -1">vote.state=#{states},article.dislikes=article.dislikes+1,</if>
            <if test="states == 1">vote.state=#{states},article.likes=article.likes+1,</if>
        </trim>
        where vote.id=#{id} and vote.article_id = article.id
    </update>

</mapper>